<% unless smart_listing.empty? %>
    <%= smart_listing_controls_for(:locations, {class: "form-inline text-right"}) do %>
      <div class="checkbox">
        <label class="checkbox inline">
          <%= hidden_field_tag :missing_longitude, "0"%>
          <%= check_box_tag :missing_longitude %>
          <%= "Missing Geolocation"%>
        </label>
      </div>
        <form>
          <div class="form-group filter input-append">
            <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off %>
            <button class="btn btn-primary disabled" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </form>

    <% end %>
  <table class="table table-striped">
    <thead>
      <th>Name</th>

      <th>License</th>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |location| %>
        <tr>
          <td>
            <%= location.name.titleize %>
          </td>

        <td>
          <%= location.license_type %>
        </td>

        </tr>
      <% end %>
    </tbody>
  </table>
    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
<% else %>
    <p class="warning">No Records</p>
<% end %>
